.dashboard{
    width: 75%;
}

.flex{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 59.375em){
    .dashboard{
        width: 80%;
    }
}

@media (max-width: 68.75em){
    .flex{
        flex-direction: column;
        align-items: center;
    }
}