.sidebar-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 17.5rem;
    background-image: linear-gradient(#4285F4, #3C83F9);
    justify-content: space-between;
    padding: 2.5rem 2rem;
    height: 135vh;
    color: white;
    border-radius: .5rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-sidebar{
    font-size: 2.5rem;
}

.shortname{
    display: none;
}

.content-sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.12rem;
}

.content-sidebar span:first-child{
    font-weight: 700;
}

.content-sidebar span{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
}

.content-sidebar a, .footer-sidebar a{
    text-decoration: none;
    color: white;
}

.footer-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .8rem;
    font-weight: 400;
}

.content-sidebar span:last-child{
    display: none;
}

/* .search-icon{
    display: none;
} */

@media (max-width: 59.375em){
    .sidebar-container{
        width: 22%;
        height: 100vh;
    }
    .header-sidebar{
        font-size: 2rem;
    }
    .content-sidebar a{
        font-size: .9rem;
    }
    .content-sidebar img{
        width: .8rem;
    }
}

@media (max-width : 50em){
    .content-sidebar a{
        display: none;
    }
    .content-sidebar img{
        width: 1.5rem;
    }
    .header-sidebar{
        font-size: 1.7rem;
    }
    .shortname{
        display: block;
    }
     .fullname{ 
        display: none;
    } 
    .sidebar-container{
        padding: 1rem;
        width: 10%;
    }
    .footer-sidebar{
        display: none;
    }
    
}

@media (max-width: 40.625em){
    .content-sidebar span:last-child{
        display: block;
    }
    .content-sidebar img{
        width: 1rem;
    }
    .header-sidebar{
        font-size: 1.5rem;
    }
}

@media (max-width: 29.25em){
    .sidebar-container{
        align-items: center;
        padding: 2rem .5rem;
        width: 15%;
    }
}